---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card%5Bnumber%5D=4444&card%5Bcvc%5D=123&card%5Bexp_month%5D=12&card%5Bexp_year%5D=2030
    headers:
      Authorization:
      - Basic c2tfdGVzdF80ZUMzOUhxTHlqV0Rhcmp0VDF6ZHA3ZGM6
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1ac9779a-6fdd-4df6-8663-379cf765566a
      Original-Request:
      - req_RHVkzgz9i9aP3i
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "invalid_number",
            "doc_url": "https://stripe.com/docs/error-codes/invalid-number",
            "message": "The card number is not a valid credit card number.",
            "param": "number",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_RHVkzgz9i9aP3i?t=1674394979",
            "type": "card_error"
          }
        }
  recorded_at: Sun, 22 Jan 2023 13:42:59 GMT
recorded_with: VCR 6.1.0
