---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=test
    headers:
      Authorization:
      - Basic c2tfdGVzdF80ZUMzOUhxTHlqV0Rhcmp0VDF6ZHA3ZGM6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 356851e2-1fc4-4325-9221-63b624b4508e
      Original-Request:
      - req_AJH7IaXeYrOHRD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_NDUoJGWPTzEt0d",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1674394977,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "test",
          "discount": null,
          "email": null,
          "invoice_prefix": "9E5C817C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 22 Jan 2023 13:42:57 GMT
recorded_with: VCR 6.1.0
