---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card%5Bnumber%5D=4242424242424242&card%5Bcvc%5D=123&card%5Bexp_month%5D=12&card%5Bexp_year%5D=2030
    headers:
      Authorization:
      - Basic c2tfdGVzdF80ZUMzOUhxTHlqV0Rhcmp0VDF6ZHA3ZGM6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6a9857b4-cc11-4391-8809-462bd40133a4
      Original-Request:
      - req_BgsdBTHSAdSGYl
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tok_1MT3p02eZvKYlo2CNC7ZwseJ",
          "object": "token",
          "card": {
            "id": "card_1MT3p02eZvKYlo2CZTlGsSnI",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "Xt5EWLLDS7FJjR1c",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "217.96.233.57",
          "created": 1674394978,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 22 Jan 2023 13:42:58 GMT
recorded_with: VCR 6.1.0
